version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: csv_uploader
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: csv-uploader-backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
    # Matched 'main:app' to the Dockerfile CMD instruction
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  mongo_data: